* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
body {
  width: 100%;
  /* height: 100vh; */
  background-color: blanchedalmond;
}
.menu {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headline {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 4rem;
  color: cadetblue;
}
.player-buttons {
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.player-buttons > p {
  font-size: 6rem;
  background-color: cornflowerblue;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
}
.player-buttons > p:hover {
  background-color: rgb(145, 184, 255);
}
.player-values {
  margin-top: 32px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.player-values > p {
  font-size: 2rem;
  font-weight: 600;
  color: gray;
}
.game-points {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  font-weight: 600;
}
#player-point {
  color: blue;
}
#bot-point {
  color: red;
}
/* game result */
.game-result {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tie {
  color: gray;
  font-size: 4rem;
  display: none;
}
.player-win{
  color: blue;
  font-size: 4rem;
  display: none;
}
.bot-win{
  color: red;
  font-size: 4rem;
  display: none;
}