* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brown: #d7c097;
  --white: #e7deaf;
  --green: #73af6f;
  --dark-green: #007e6e;
  --dark-blue: #313647;
  --soft-white: #efe9e3;
}
body {
  font-family: "Montserrat";
  background-color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: var(--dark-green);
}
.headline {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
}
.images-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 12px;
}
.images > img {
  width: 20%;
  border-radius: 100%;
  background-color: var(--white);
  box-shadow: 1px 1px 4px #007e6e;
}
/* .images:hover{
  scale: 1.1;
} */
.rock,
.paper,
.scissor {
  transition: 0.1s ease-in-out;
}
.rock:hover {
  /* scale: 1.1; */
  background-color: var(--green);
  box-shadow: 1px 1px 9px #007e6e;
}
.paper:hover {
  /* scale: 1.1; */
  background-color: var(--green);
  box-shadow: 1px 1px 9px #007e6e;
}
.scissor:hover {
  /* scale: 1.1; */
  background-color: var(--green);
  box-shadow: 1px 1px 9px #007e6e;
}
.button-container {
  width: 400px;
  height: 64px;
}
.button-container > button {
  width: 100%;
  height: 100%;
  color: var(--soft-white);
  background-color: var(--dark-green);
  border: none;
  border-radius: 32px;
  font-size: 2rem;
  transition: 0.1s ease-in-out;
}
button:hover {
  color: var(--dark-blue);
  background-color: var(--green);
  /* scale: 1.1; */
}
.game-field {
  width: 100%;
  height: 100%;
  display: none;
  background-color: var(--soft-white);
}
.innergame {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* player section */
.player {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.player-images > img {
  width: 30%;
  border-radius: 32px;
  background-color: var(--brown);
}

/* bot section */
.bot {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.bot-images > img {
  width: 30%;
  border-radius: 32px;
  background-color: var(--brown);
}

/* timer-sore-holder */
.timer-sore-holder {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer {
  color: var(--dark-blue);
  font-size: 3rem;
  display: flex;
  gap: 4px;
}
.point {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.player-score {
  font-size: 4rem;
  color: var(--dark-blue);
}
legend {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  color: #313647;
  font-size: 4rem;
}
.bot-score {
  color: red;
  font-size: 4rem;
}
.startgame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  margin-top: 32px;
}
.startgame > p {
  width: 240px;
  height: 60px;
  border-radius: 18px;
  background-color: var(--green);
  color: var(--soft-white);
  border: none;
  font-size: 1.2rem;
  transition: 0.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startgame > p:hover {
  background-color: var(--dark-green);
}
